[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pytest = "*"
packaging = "==21.3"
scikit-learn = "*"
pillow = "*"
django-countries = "*"
sib-api-v3-sdk = "*"
python-dotenv = "*"
yfinance = "*"
matplotlib = "*"
gunicorn = "*"
mysqlclient = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "*"
