[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
yfinance = "*"
pytest = "*"
packaging = "20.9"
scikit-learn = "*"
pillow = "*"
django-countries = "*"
sib-api-v3-sdk = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
