{% extends 'nav_menu.html' %}
{% load static %}

{% block content %}
<body class="blog-page" data-bs-spy="scroll" data-bs-target="#navmenu">
  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container mt-5">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Community</h1>
              <p class="mb-0">On this page, the published stock analyzes are presented.<br>Click on the post titles to view the analysis (and comments).</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Community</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 posts-list">
          {% for post in paginated_posts %}
            <div class="col-xl-4 col-lg-6">
              <article>
                <div class="post-img">
                  <img id="post-{{ post.id }}-img" src="{% static 'assets/img/defaultStockImg.jpg' %}" alt="" class="img-fluid">
                </div>
                <h2 class="title">
                  <a href="{% url 'post-details' post.id %}">{{post.title}}</a>
                </h2>
                <div class="d-flex align-items-center">
                  {% if post.analysis_id.analyst_id.image %}
                    <img src="{{ post.analysis_id.analyst_id.image.url }}" class="img-fluid post-author-img flex-shrink-0" alt="">
                  {% else %}
                    <img  src="{% static 'images/blank_profile.png' %}" class="img-fluid post-author-img flex-shrink-0" alt="">
                  {% endif %}
                  <div class="post-meta">
                    <p class="post-author">{{ post.analysis_id.analyst_id.user_id.username }}</p>
                    <p class="post-date">
                      <time datetime="2022-01-01">{{ post.time }}</time>
                    </p>
                  </div>
                </div>
              </article>
            </div>

          {% endfor %}
        </div>
        <div class="pagination d-flex justify-content-center">
          <ul>
            {% if paginated_posts.has_previous %}
              <li><a href="?page={{ paginated_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for page_number in paginated_posts.paginator.page_range %}
              <li {% if paginated_posts.number == page_number %}class="active"{% endif %}><a href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endfor %}
            {% if paginated_posts.has_next %}
              <li><a href="?page={{ paginated_posts.next_page_number }}">Next</a></li>
            {% endif %}
          </ul>
        </div><!-- End pagination -->
      </div>
    </section><!-- End -->
  </main>

  <script>
      const posts_images = {{ serialized_posts | safe }};
  </script>
  <script src=https://cdn.jsdelivr.net/npm/chart.js></script>
  <script src=https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js></script>
  <script src=https://cdn.anychart.com/releases/v8/js/anychart-base.min.js></script>
  <script src=https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js></script>
  <script src=https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js></script>
  <script src=https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js></script>
  <script src=https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script type="module" src="{% static 'js/community.js' %}"></script>
</body>
{% endblock content %}
