{% extends 'nav_menu.html' %}
{% load static %}
<head>
  {% block head %}
  <link href="{% static 'css/post-details.css' %}" rel="stylesheet">
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/post-details.js' %}"></script>
  {% endblock head %}
</head>
{% block content %}
<body class="blog-details-page" data-bs-spy="scroll" data-bs-target="#navmenu">
  <main id="main">

    <!-- Blog Details Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title" style="padding-top: 50px;">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Post Details</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Post Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog-details Section - Blog Details Page -->
    <section id="blog-details" class="blog-details">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="article">

              <div class="post-img">
                <img src="{% static 'assets/img/my-stocks.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{post.title}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">{{post.analysis_id.analyst_id.user_id.get_full_name}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="{{post.time}}">{{post.time}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">{{comments|length}} comments</a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>
                  {{post.analysis_id.description}}
                </p>

                <blockquote>
                  <p>
                    Analysis graph
                  </p>
                </blockquote>

                <p>
                  {{post.analysis_id.stock_image}}
                </p>
                <h3>Analysis Information</h3>
                <p>
                  Buy Price: ??<br>Stop-Loss: ??<br>Take Profit: ??
                </p>

              </div><!-- End post content -->

              <div class="meta-bottom">
                <button id="likeButton" data-post-id="{{ post.id }}" data-profile-id="{{ user.profile.profile_id }}" class="likeButton">
                  <span id="likesCount">({{ post.likes.count }})</span>
                  <span id="likeIcon">&#128077;</span>
                </button>

              </div>
            </article><!-- End post article -->

            <div class="blog-author d-flex align-items-center">
              {% if post.analysis_id.analyst_id.image %}
              <img src="{{ post.analysis_id.analyst_id.image.url }}" class="img-fluid post-author-img flex-shrink-0" alt="">
              {% else %}
              <img  src="{% static 'images/blank_profile.png' %}" class="img-fluid post-author-img flex-shrink-0" alt="">
              {% endif %}
              <div>
                <h4>{{post.analysis_id.analyst_id.user_id.get_full_name}}</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  some description about the post owner...
                </p>
              </div>
            </div><!-- End post author -->

            <div class="comments">

              <h4 class="comments-count">{{comments|length}} comments</h4>
              {% for comment in comments.all %}
              <div id="comment-{{ forloop.counter }}" class="comment">
                <div class="d-flex">
                  <div class="comment-img">
                    {% if comment.publisher_id.image %}
                    <img src="{{ comment.publisher_id.image.url }}" class="img-fluid post-author-img flex-shrink-0" alt="">
                    {% else %}
                    <img  src="{% static 'images/blank_profile.png' %}" class="img-fluid post-author-img flex-shrink-0" alt="">
                    {% endif %}
                  </div>
                  <div>
                    <h5><a href="">{{comment.publisher_id.user_id.get_full_name}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="{{comment.time}}">{{comment.time}}</time>
                    <h5><label id="likesCommentCounter{{ forloop.counter }}">({{ comment.likes.count }})</label> <a class="likeComment" id="likesCommentIcon{{ forloop.counter }}" data-comment-id="{{ comment.id }}" data-profile-id="{{ user.profile.profile_id }}" >&#128077;</a></h5>
                    <p>
                      {{comment.content}}
                    </p>
                      <script>
                        $(document).ready(function() {
                          let likesCommentIcon = $('#likesCommentIcon{{ forloop.counter }}');
                          let commentId = likesCommentIcon.data('comment-id');
                          let profileId = likesCommentIcon.data('profile-id');

                          $.ajax({
                            url: 'check-comment-like/',
                            method: 'GET',
                            data: {
                              'comment_id': commentId,
                              'profile_id': profileId
                            },
                            success: function(response) {
                              if (response.liked) {
                                likesCommentIcon.text('Unlike');
                              } else {
                                likesCommentIcon.text('Like');
                              }
                            }
                          });
                        });
                      </script>
                      <script>
                        document.getElementById('likesCommentIcon{{ forloop.counter }}').addEventListener('click', function() {
                          let profileId = this.getAttribute('data-profile-id');
                          let commentId = this.getAttribute('data-comment-id');
                          let xhr = new XMLHttpRequest();
                          xhr.open('POST', '/community/like_comment/' + commentId + '/' + profileId + '/');
                          xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                          xhr.onload = function() {
                              if (xhr.status === 200) {
                                  let response = JSON.parse(xhr.responseText);
                                  let likesCommentIcon = document.getElementById('likesCommentIcon{{ forloop.counter }}')
                                  let likesCommentCounter = document.getElementById('likesCommentCounter{{ forloop.counter }}')
                                  likesCommentCounter.innerHTML =  '(' + response.likes + ')'
                                  if(response.is_liked) {
                                    likesCommentIcon.innerHTML = 'Like';
                                  }
                                  else {
                                    likesCommentIcon.innerHTML = 'Unlike';
                                  }
                              }
                          };
                          xhr.send();
                        });
                      </script>
                    <div class="meta-bottom">
                      {% if comment.publisher_id.profile_id == user.profile.profile_id %}
                      <h5><a class="likeComment" id="deleteCommentButton{{ forloop.counter }}" data-comment-id="{{ comment.id }}" data-post-id="{{ post.id }}" data-profile-id="{{ user.profile.profile_id }}">🗑️</a></h5>
                      <script>
                      document.getElementById('deleteCommentButton{{ forloop.counter }}').addEventListener('click', function() {
                        let comment_id = this.getAttribute('data-comment-id');
                        let post_id = this.getAttribute('data-post-id');
                        let profile_id = this.getAttribute('data-profile-id');
                        confirmDelete(post_id, comment_id, profile_id);
                      });

                      function confirmDelete(post_id, comment_id, profile_id) {
                          const confirmation = confirm("Are you sure you want to delete this comment?");
                          if (confirmation) {
                              fetch(`/community/delete-comment/${post_id}/${comment_id}/${profile_id}/`, {
                                  method: 'DELETE',
                                  headers: {
                                      'X-CSRFToken': '{{ csrf_token }}'  // Replace with the appropriate way to get the CSRF token in your template
                                  }
                              })
                              .then(response => {
                                  if (response.ok) {
                                      // Reload the page or perform any necessary actions
                                      window.location.reload();
                                  } else {
                                      console.error('Error deleting comment:', response.status);
                                      // Handle the error or display an appropriate message to the user
                                  }
                              })
                              .catch(error => {
                                  console.error('Error deleting comment:', error);
                                  // Handle the error or display an appropriate message to the user
                              });
                          }
                      }
                      </script>
                      {% endif %}
              </div>
                  </div>
                </div>
              </div>
              {% endfor %}

              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <form id="commentForm" method="POST" action="{% url 'post-details' post.id user.profile.profile_id %}">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col form-group">
                      <textarea id="commentInput" name="content" class="form-control" placeholder="Your Comment*" required></textarea>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                  </div>
                </form>
              </div>

              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script>
                $(document).ready(function() {
                  $('#commentForm').submit(function(event) {
                    event.preventDefault(); // Prevent the default form submission

                    // Retrieve the comment content and post ID
                    let commentContent = $('#commentInput').val();
                    let postId = {{ post.id }}; // Replace with the actual post ID
                    let profile_id = {{ user.profile.profile_id }};

                    // Send an AJAX request to the comment creation URL
                    $.ajax({
                      url: 'create-comment/'
                      method: 'POST',
                      data: {
                        'comment': commentContent,
                        'post_id': postId
                        'profile_id': profile_id
                      },
                      success: function(response) {
                        // Handle the success response
                        console.log('Comment created successfully!');
                        // Optionally, you can perform additional actions like updating the comment section with the newly created comment
                      },
                      error: function(xhr, status, error) {
                        // Handle the error response
                        console.error('Error creating comment:', error);
                      }
                    });
                  });
                });
              </script>
            </div><!-- End blog comments -->
          </div>
          <div class="col-lg-4">

            <div class="sidebar">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text" id="search" data-posts="{{ posts }}">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>
                  <div class="post-item" data-posts-container></div>
                  {% for post in posts %}
                <div class="post-item">
                  <img src="{% static 'assets/img/my-stocks.jpg' %}" alt="" class="flex-shrink-0">
                  <div>
                    <h4><a href="{% url 'post-details' post.id user.profile.profile_id %}">{{post.title}}</a></h4>
                    <time datetime="2020-01-01">{{ post.time }}</time>
                  </div>
                </div><!-- End recent post item-->
                  {% endfor %}

              </div><!-- End sidebar recent posts-->

            </div><!-- End Sidebar -->

          </div>

        </div>

      </div>

    </section><!-- End Blog-details Section -->

  </main>


  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
{% endblock content %}