@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

:root {
  --color-primary: #ee394c;
  --color-secondary: #86b7fe;
  --color-light: #f2f2f2;
  --color-gray: #ced4da;
  --color-dark: #212121;
  --color-white: #ffffff;
  --color-error: #e2442f;
  --color-warning: #ffc900;
  --color-info: #02a2b9;
  --color-success: #1ba345;
  --color-input: #00d1b2;
   --border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.4rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem;
}

.card {
  border: solid 1px var(--color-light);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  min-width: 400px;
}

/* alert */
.alert {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}
.alert-error {
  background-color: var(--color-error);
  color: var(--color-light);
}

.alert-success {
  background-color: var(--color-success);
  color: var(--color-light);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}


