
.algoCheckBox{      <!--  class of the check boxes near the graph -->
    padding: 10px;
    margin-left: 10px;
}

#checkboxesContainer{
  display: flow;        /* Set display to flex */
  flex-direction: row;  /* Arrange items in a row */
  max-width: 800px;
}

#chart_container{
    width: 900px;
    height: 500px;
    display: inline-block;
}

.ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li{
  display: inline;
}

ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, 0.4);
    color: #a0a0a0;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li i.fas.fa-exclamation-circle {
    position: relative;
    display: inline-block;
    font-weight: 900;
    padding: 4px 6px 4px 4px;
    color: rgba(160, 160, 160, 0.56);
}

ul.ks-cboxtags li i.fas.fa-exclamation-circle:hover{
    color: #a0a0a0;
}

ul.ks-cboxtags li i.fas.fa-exclamation-circle .tooltip {
    visibility: hidden;
    position: absolute;
    top: 35px; /* Adjust the distance from the icon */

    left: 50%; /* Position at the center of the icon */
    transform: translateX(-50%);
    width: auto;
    max-width: 80px;
    background-color: #a0a0a0;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    padding: 2px 10px 2px 10px;
    border-radius: 25px;
}

ul.ks-cboxtags li i.fas.fa-exclamation-circle:hover .tooltip{
    visibility: visible;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:hover + label {
  border: 2px solid #C3EDC0;
}

#container {
    display: block;
    align-items: baseline;
    margin-top: 100px;
}
.saveButton {

}


/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}


/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#window {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    text-align: center; /* Center-align all content within the window */
    border-radius: 10px;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    font-size: 15px;
}

#closeButton:hover {
    background-color: #ee394c;
    border-color: black;
}

#title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.centered > * {
    margin: 10px;
}

#textArea {
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 5px;
}

#titleInput {
    display: none;
    width: 400px;
    border-radius: 10px;
    padding: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container label {
    margin-left: 5px;
}

#fundamentals-container {
    display: inline-block;
    position: absolute;
}

#main-stock-container {
    display: inline-block;
}

#compareStocksContainer {
    display: inline-block;
    margin: 20px;
}

#fundamentals-container li {
    font-size: 15px;
    margin-bottom: 10px;
}

#fundamentals-container h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
}

#main-stock-container p {
    font-size: 20px;
    text-decoration: underline;
    margin-left: 15px;
}

#comparisonResult p {
    font-size: 20px;
    text-decoration: underline;
}

.search-button {
  border-radius: 4px;
  padding: 6px 10px;
  border: 0;
  background-color: #e84545;
  color: white;
  margin-left: 20px;
}

.search-input {
  border-radius: 5px;
  padding: 5px 10px;
}
