{% extends 'profile.html' %}

<head>
    {% block head2 %}
    <title>Profile Security</title>
    {% endblock %}
</head>

{% block content2 %}
<body>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-lg-8">
                <!-- Change password card-->
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form method="post">
                        {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <div class="row gx-3 mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                </div>
                        {% if field.errors %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {% for error in field.errors %}
                                <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                             </div>

                    {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-secondary btn-black" type="submit">Change Password</button>
    </form>
</div>
                </div>
                <!-- Delete account card-->
               <div class="card mb-4">
                   <div class="card-header">Delete Account</div>
                    <div class="card-body">
                        <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                        <form method="post" id="delete-account-form" action="{% url 'delete-account' %}">
                            {% csrf_token %}
                            <button class="btn btn-danger-soft text-danger" type="button" onclick="showConfirmation()">I understand, delete my account</button>
                        </form>
                    </div>
               </div>
            </div>
        </div>
    <script>
        function showConfirmation() {
            if (confirm("Are you sure you want to delete your account?")) {
                document.getElementById("delete-account-form").submit();
            }
        }
    </script>

</body>
    d
{% endblock %}
