{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href=https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap rel="stylesheet">

    <link rel="stylesheet" href="{% static 'login/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/owl.carousel.min.css%' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

    <title>Login</title>
  </head>
  <body>

  <div class="d-lg-flex half">
    <div class="bg order-2 order-md-1" style="background-image: url({% static 'login/images/stock.jpg' %});"></div>
    <div class="contents order-2 order-md-1">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <div class="mb-4">
              <h3>Sign In</h3>
            </div>
            {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                {% if form.username.errors %}
                <small class="text-danger">{{ form.username.errors|striptags }}</small>
                {% endif %}
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                {% if form.password.errors %}
                <small class="text-danger">{{ form.password.errors|striptags }}</small>
                {% endif %}
              </div>

              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0">
                  <span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked" name="remember_me">
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="{% url 'password-reset' %}" class="forgot-pass">Forgot Password</a></span>
              </div>
          <p class="text-center" style="color: black;">Don't have an account? <a href="{% url 'register' %}">Join Now</a></p>
          <p class="text-center" style="color: black;"><a href="{% url 'landing_page' %}">Home Page</a></p>
              <button type="submit" class="btn btn-block btn-primary">Log In</button>
            </form>
         </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
