{% extends 'base.html' %}

{% block content %}
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Password Reset Confirm</h2>
                            <p>Please enter your new password.</p>
                            <div class="panel-body">
                                <form method="post" class="card">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {% for field in form %}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group">
                                                        {% if forloop.counter == 1 %}
                                                            <label for="{{ field.id_for_label }}">New Password:</label>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        {% elif forloop.counter == 2 %}
                                                            <label for="{{ field.id_for_label }}">Confirm New Password:</label>
                                                        {% endif %}
                                                        {{ field }}
                                                    </div>
                                                    {% if field.errors %}
                                                        <small class="error text-danger">{{ field.errors|striptags }}</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
