{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'login/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/owl.carousel.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <title>Login</title>
</head>
<body>

<div class="d-lg-flex half">
    <div class="bg order-2 order-md-1" style="background-image: url({% static 'login/images/stock.jpg' %});"></div>
    <div class="contents order-2 order-md-1">

        <div class="container" style="padding-right: 200px;">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <div class="mb-3">
                        <h3>Register</h3>
                    </div>
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="username" name="username"
                                   placeholder="Enter your username">
                            {% if user_form.username.errors %}
                                <small class="error text-danger">{{ user_form.username.errors|striptags }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm" id="first_name"
                                           name="first_name" placeholder="Enter your first name">
                                    {% if user_form.first_name.errors %}
                                        <small class="error text-danger">{{ user_form.first_name.errors|striptags }}</small>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm" id="last_name"
                                           name="last_name" placeholder="Enter your last name">
                                    {% if user_form.last_name.errors %}
                                        <small class="error text-danger">{{ user_form.last_name.errors|striptags }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="password" class="form-control form-control-sm" id="password1"
                                           name="password1" placeholder="Password">
                                    {% if user_form.password1.errors %}
                                        <small class="error text-danger">{{ user_form.password1.errors|striptags }}</small>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control form-control-sm" id="password2"
                                           name="password2" placeholder="Confirm Password">
                                    {% if user_form.password2.errors %}
                                        <small class="error text-danger">{{ user_form.password2.errors|striptags }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-sm" id="email" name="email"
                                   placeholder="Enter your email">
                            {% if user_form.email.errors %}
                                <small class="error text-danger">{{ user_form.email.errors|striptags }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="phone_number"
                                   name="phone_number" placeholder="Enter your phone number">
                            {% if profile_form.phone_number.errors %}
                                <small class="error text-danger">{{ profile_form.phone_number.errors|striptags }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ profile_form.country }}
                            {% if profile_form.country.errors %}
                                <small class="error text-danger">{{ profile_form.country.errors|striptags }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ profile_form.image }}
                            {% if profile_form.image.errors %}
                                <small class="error text-danger">{{ profile_form.image.errors|striptags }}</small>
                            {% endif %}
                        </div>
                  <p class="text-center" style="color: black;">Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
                        <button type="submit" class="btn btn-block btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
